#playerview-container {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: 50%;
}

#playerview-container .search-container {
    padding-top: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
}
