.dyntab {
    /*background-color: white;*/
}

.dyntab tr:nth-child(odd) {
    background-color: darkgray;
}

.dyntab tr:nth-child(even) {
    background-color: bisque;
}
/*
tr:last-child {
    background-color: bisque;
}*/
